*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #2C2B2B;
    cursor: default;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
    color: #fff;
}

.header__top{
    padding: 47px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone{
    font-weight: 400px;
    font-size: 36px;
    line-height: 54px;
}

.header__content{
    padding-top: 60px;
    position: relative;
}

.header__title{
    font-size: 72px;
    font-weight: 400;
    line-height: 107px;
    text-transform: uppercase;
}

.header__subtitle{
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.header__text{
    margin-bottom: 30px;
    max-width: 800px;
}

.button{
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 14px 54px 15px;
    background-color: #5a0d54;
    transition: all .3s;
}

.button:hover{
    background-color: #fff;
    color: #5a0d67;
}

.header__social{
    padding: 70px 0 20px 70px;

}

.social{
    display: flex;
    align-items: center;
}

.social__link{
    margin: 0 5px;
}

.header__images{
    position: absolute;
    right: 0;
    bottom: -270px;
}

.services{
    padding-top: 350px;
}

.title{
    COLOR: #21062A;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
}

.title::after{
    content: '';
    width: 80px;
    height: 3px;
    background-color: #21062a;
    position: absolute;
    top: 20px;
    margin-left: 20px;
}

.services__inner{
    display: flex;
    margin-bottom: 100px;
}

.services__content{
    width: 505px;
    margin-right: 95px;
}

.services__content-title{
    color: #5a0d67;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    margin-bottom: 12px;
}

.services__content-textbox{
    margin-bottom: 57px;
}

.services__content-text{
    margin-bottom: 12px;
}

.button--decor{
    margin-top: -7px;
    color: #fff;
    position: relative;
}

.button--decor::after{
    content: 'ЖМИ';
    color: #c4c4c4;
    position: absolute;
    margin-left: 130px;
}

.button--decor::before{
    content: '';
    width: 80px;
    height: 2px;
    background-color: #c4c4c4;
    position: absolute;
    right: -65px;
    top: 24px;
}

.services__list{
    list-style: none;
    counter-reset: my-counter;

}

.services__item{
    counter-increment: my-counter;
    border: 2px solid #c4c4c4;
    margin-bottom: 12px;
    width: 450px;
    padding: 10px 15px 10px 113px;
    position: relative;
    transition: all .3s;
}   

.services__item::before{
    content: '0' counter(my-counter);
    position: absolute;
    left: 20px;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    color: #c4c4c4;
    transform: rotate(270deg);
    transition: all .3s;
}

.services__item:hover{
    border: 2px solid #5a0d67;
    width: 500px;
}

.services__item:hover .services__item-title{
    color: #5a0d67;
}

.services__item:hover::before{
    color: #5a0d67 
}

.services__item-title{
    font-size: 24px;
    font-weight: 300;
}
 

.benefits{
    margin-bottom: 100px;
}

.benefits__inner{
    display: flex;
}

.benefits__images{
    margin-right: 95px;
}

.benefits__content{
    width: 100%;
    color: #fff;
}
.benefits__title{
    margin-left: 185px;
}

.benefits__list{
    list-style: none;
    background-color: #21062a;
    padding: 25px 0 25px 185px;
}

.benefits__item{
    width: 320px;
    margin-bottom: 20px;
}

.benefits__item-num{
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}

.benefits__item-title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}

.benefits__item-text{
    color: #c4c4c4;
}

.carousel{
    margin-bottom: 100px;   
}


.carousel__inner{
    margin: 0 -7px;
}
.carousel__item{
    margin-bottom: 0 7px;
}
    

.carousel__item-box{
    border: 1px solid #C4C4C4;
    padding: 6px 6px 16px 6px;
    text-align: center; 
    transition: all .3s;
}

.carousel__item-box:hover{
    color: #fff;
    background-color: #5a0d67;
    border-color: #5a0d67;
}
.carousel__item-img{
    max-width: 100%;
    margin-bottom: 23px;
}

.carousel__item-title{
    font-weight: 300;
    margin-bottom: 5px;
}

.carousel .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}

.carousel .slick-dots button{
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0 10px;
    background-color: #c4c4c4;
    width: 50px;
    height: 1px;
}

.carousel .slick-active button{
    background-color: #5a0d67;
    height: 3px;
}

.contacts__inner{
    display: flex;
    justify-content: space-between;
}

.contacts__list{
    list-style: none;
}

.contacts__item{
    margin-bottom: 20px;
}

.contacts__item-title{
    color:#5a0d67;

}

.contacts__form{
    background-color: #21062a;
    padding: 50px 75px 57px;
    text-align: center;
}

.contacts__title{
   color: #fff;
   margin-bottom: 16px;
   margin-left: 63px;
   text-align: left;
}

.contacts__title::after{
    background-color: #fff;
}

.contacts__input{
    background-color: transparent;
    width: 450px;
    height: 75px;
    color: #fefefe;
    border: 1px solid #fff;
    margin-bottom: 12px;
    display: block;
    font-size: 24px;
    padding: 15px;
    text-align: center;
}

.contacts__input::placeholder{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    height: 27px;
    font-weight: 300;
    color: #c4c4c4;

}

.contacts__btn{
    border: none;
    color: #fff;
    margin-top: 78px;
    cursor: pointer;
}

.footer{
    background-color: #21062a;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100px;
    top: 50%;
}